#footer { 
    @extend %displayFooter
        text-decoration: none;
        grid-area: footer;
        width: 100%;
        height: 60px;
        background-color: map-get($links: , linkFooterColor );
        font-weight: bolder;
    }
    a {
        color: rgb(184, 56, 127);
            a:hover {
                color: rgb(194, 18, 109);
            
            }
        }
    